<plugin>
    <id>banner</id>
    <name>Banner Ads</name>
    <description>Manage banner ads and campaigns</description>
    <version>0.3.1</version>
    <glfusionversion>1.7.0</glfusionversion>
    <phpversion>5.6.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib,1.0.5</requires>
</plugin>
